body {
  overscroll-behavior-y: contain;
}

.rounded-borders-14 {
  border-radius: 14px;
}

.pill-shape {
  border-radius: 9999px;
}

.fixed-button {
  min-width: 20vw;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  // max-width: 600px;
  display: flex;
  justify-content: center;
  z-index: 2; // to ensure it's above other content if needed
  // justify-content: space-around; // evenly space the buttons
  // bottom: 0; // position at the bottom of the page
  // padding: 6vh 0;
}

.or-separator {
  display: flex;
  align-items: center;

  .line {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc; // you can adjust this color as per your design
  }
}

input,
textarea {
  user-select: text; /* Allow text selection */
}

.selectable-text {
  user-select: text; /* Class to make text selectable */
}

.native-mobile {
  // -webkit-overflow-scrolling: touch !important;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Firefox */
}

.q-notifications__list--bottom {
  bottom: 78px;
}

.q-field__control {
  border-radius: 14px !important;
}

.q-field--outlined .q-field__control:before {
  border: none;
}

.q-dialog__inner > div {
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
}

body.q-ios-padding .q-dialog__inner {
  padding-bottom: 0 !important;
  // padding-top: 50 !important;
  // padding-top: constant(safe-area-inset-top) // for iOS 11.0
  // padding-top: env(safe-area-inset-top); // for iOS 11.2 +
}

// .q-dialog__inner--bottom {
//   padding-bottom: 0 !important;
// }

// .q-dialog__inner {
//   padding-bottom: 0 !important;
// }

// .q-dialog__inner--top,
// .q-dialog__inner--bottom {
//   padding-top: 0 !important;
//   padding-bottom: 0 !important;
// }
