body {
  overscroll-behavior-y: contain;
}

.rounded-borders-14 {
  border-radius: 14px;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Firefox */
}

input,
textarea {
  user-select: text; /* Allow text selection */
}

.q-notifications__list--bottom {
  bottom: 78px;
}

.q-field__control {
  border-radius: 14px !important;
}

.q-field--outlined .q-field__control:before {
  border: none;
}

.q-dialog__inner > div {
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
}

// .q-dialog__inner--bottom {
//   padding-bottom: 0 !important;
// }

// .q-dialog__inner {
//   padding-bottom: 0 !important;
// }

// .q-dialog__inner--top,
// .q-dialog__inner--bottom {
//   padding-top: 0 !important;
//   padding-bottom: 0 !important;
// }

body.q-ios-padding .q-dialog__inner {
  padding-bottom: 0 !important;
}
